.table {
	border-collapse: collapse;
	width: 100%;

	thead {
		td {
			border-bottom: .0556em solid #c5c8c6;
			font-weight: bold;
		}
	}

	tbody {
		tr:nth-child(odd) {
			background: #242629;
		}
	}

	td {
		padding: .2em;
	}
}
