html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
	background: #1d1f21;
	color: #c5c8c6;
	font: 1.125rem Arial, Helvetica, sans-serif;
	
	padding: 1em;
}

a {
	color: #81a2be;
	text-decoration: none;
}

a:hover {
	color: #b294bb;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0 0 1em;
	text-align: center;
}

code {
	border-left: .1111em solid #b5bd68;
	display: block;
	margin: 1em;
	padding: 0 1em;
	white-space: pre-wrap;
}

header {
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 0 1em;

	h1 {
		color: #b294bb;
		font-family: monospace;
	}

	li {
		display: inline-block;
		list-style: none;

		+ li {
			margin-left: 1em;
		}
	}
}

main {
	margin: 0 auto;
	max-width: 50em;
}

section {
	background: #282a2e;
	border-radius: .1em;
	margin: 1em 0 10em;
	padding: 1em;
}

@media (max-width: 27.7778em) {
    header {
		flex-direction: column;
		text-align: center;

		ul {
			margin-top: .5em;
		}
	}

	section {
		overflow-y: auto;
	}
}